<html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="app.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <style>
        body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.thumbnail {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    display:inline-flex;
    padding: 0%
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }
  .thumbnail span{
      z-index: 50;
      font-size: 2em;
      text-align: center;
      background-color: rgba(240, 240, 240, 0.5);
      width: 100%;
      height: 2em;
      margin-top: 157px;
      
  }
  
  #foto{
      text-align: center;
  }
  

</style>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LetsPhoto</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="//instagram.com">Share</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(!req.session.login){%>
                    <li>
                        <p class="navbar-text"><a href="/register">Already have an account?</a></p>
                    </li>
                    <li class="dropdown">

                        <!-- <a href="/login">Login</a> -->
                        <a href="/login" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="active"></span></a>
                        <%}else{%>
                    <li>
                        <!-- <a href="/logout">Logout</a> -->
                        <!-- <a href="/upload">Upload</a> -->
                    <li>
                        <p class="navbar-text">
                            <%=req.session.login.username%>
                        </p>
                    </li>
                    <li><a href="/logout" class="dropdown-toggle" data-toggle="collapse"><b>Logout</b> <span class="active"></span></a></li>
                    <li><a href="/upload" class="dropdown-toggle" data-toggle="collapse"><b>Upload</b> <span class="active"></span></a></li>

                    <%}%>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id="foto">
        <form action="/search" method="GET">
            <input type="text" name="q" value="<%=req.query.q%>">
            <input type="submit" value='Search'>
        </form>
        <% imageData.forEach(image=>{ %>

        <div class="thumbnail">
            <!-- <h2>Tes</h2> -->
            <a href="/image/<%=image.filename%>"><img src="/uploads/<%=image.filename%>"></a>
            <span>
                <%=image.User.username %> 
                <!-- <%= image.description%> -->
            </span>
        </div>
        <% }) %>

    </div>
</body>
</html>